---
layout: 2019/default
section: programa
title: esLibre 2019 - Jose Luis Martínez Torres - Being cloudy with Perl
---

<h1 class="mt-3 mb-3">Devroom 3: Perl* (10:15 - 10:55)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/martinez_jose_luis.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Jose Luis Martínez Torres: "Being cloudy with Perl"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Un repaso rápido a un montón de tecnologías cloud que puedes consumir con <a href="https://www.perl.org/" target="_blank">Perl</a>.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Los proveedores <a href="https://es.wikipedia.org/wiki/Computaci%C3%B3n_en_la_nube" target="_blank">cloud</a> nos brindan un abanico grande de servicios. Muchas veces en la documentación se les olvida mencionar Perl (y otros tantos lenguajes). Eso
  para mí es una oportunidad de leer su documentación y ver "que hay por debajo" y ver
  como se pueden consumir esos servicios desde Perl.<br><br>
  Daremos un paseo por un montón de servicios (de varios clouds) con los que he tenido la suerte de lidiar. Veremos protocolos, como funcionan y que librerias Perl sirven para consumirlos.<br><br>
  Incluso veremos como hacer aplicaciones Perl en <a href="https://serverless.com/" target="_blank">Serverless</a> con <a href="https://aws.amazon.com/es/lambda/" target="_blank">AWS Lambda</a>.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  <ul>
    <li>Desarrolladores Perl</li>
    <li>Administradores de sistemas</li>
    <li>Curiosos por el Cloud</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Jose Luis Martínez Torres</strong>.
  <ul>
    <li>CTO en <a href="https://www.capside.com/es/" target="_blank">CAPSiDE</a></li>
    <li>Contribuidor Open Source</li>
    <li>Apasionado del Cloud</li>
    <li>He dado charlas en múltiples eventos</li>
  </ul>
  <a href="https://github.com/pplu" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/pplu_io" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/joseluismartineztorres/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
