---
layout: 2019/default
section: programa
title: esLibre 2019 - José Luis Pérez Diez - Generación y analísis de PDF en Perl
---

<h1 class="mt-3 mb-3">Devroom 3: Perl* (11:00 - 11:20)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/perez_jose_luis.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">José Luis Pérez Diez: "Generación y analísis de PDF en Perl"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  En <a href="https://www.cpan.org/" target="_blank">CPAN</a> hay muchas distribuciones para trabajar con <a href="https://es.wikipedia.org/wiki/PDF" target="_blank">PDF</a>, explicare las que uso sus pros y contras.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  En CPAN hay muchas distribuciones que permiten crear, editar y analizar PDF. En tareas de creación casi todos los módulos de CPAN son validos y fáciles de usar. Yo para la edición de PDF normalmente uso solo 2 distribuciones <a
    href="https://metacpan.org/pod/CAM::PDF" target="_blank">CAM::PDF</a> y <a href="https://metacpan.org/pod/PDF::API2" target="_blank">PDF::API2</a>.<br><br>
  La aplicación de la <a href="https://www.boe.es/buscar/pdf/2015/BOE-A-2015-10565-consolidado.pdf" target="_blank">Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones Públicas</a> implica que todas las
  personas jurídicas nacionales se han de comunicar por medios electrónicos, en mi caso la mayoría de las personas físicas también tienen esta obligación. Las entradas que nos llegan solo se identifican por su <a
    href="https://es.wikipedia.org/wiki/Identificador_%C3%BAnico_global" target="_blank">GUID</a> y son ficheros <a href="https://es.wikipedia.org/wiki/Formato_de_compresi%C3%B3n_ZIP" target="_blank">ZIP</a> o PDF, su
  contenido es principalmente PDFs firmados con documentos adjuntos y metadatos que necesitan recuperación y análisis para poder clasificarlos.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Los tengan que crear, editar o recuperar datos de PDF y quien quiera ver como genero un PDF durante la charla con al menos las dos distribuciones.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>José Luis Perez Diez</strong>. <a href="https://www.meetup.com/es-ES/barcelonapm/" target="_blank">Barcelona Perl Mongers</a>. Actualmente fuera de IT en la <a href="http://www.gencat.cat/" target="_blank">Generalitat de Catalunya</a>,
  anteriormente programador, administrador de sistemas y soporte de segundo nivel.<br><br>
  <ul>
    <li><a href="http://workshop.granada.pm/granada2014/" target="_blank">Granada Perl Workshop 2014</a></li>
    <li><a href="http://act.yapc.eu/ye2016/" target="_blank">YAPC::Europe 2016</a></li>
    <li><a href="https://love4perl.github.io/" target="_blank">Love4Perl, Granada Perl Workshop 2018</a></li>
    <li>Muchos de los eventos organizados por Barcelona Perl Mongers</li>
  </ul>
  <a href="https://github.com/jluis" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/jluis10" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/josé-luis-pérez-diez-6673bb1/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
