<div id="sponsor" class="container">
  <h2>Sponsors</h2> {% for sponsor in site.data.I.sponsors %} <div class="col-sm-3 col-md-2"> <a href="{{sponsor.url}}"><img src="/2020/assets/logos/{{sponsor.logo}}" alt="{{sponsor.nombre}}" class="embed-responsive"></a> </div>
  {% endfor %}
</div>
