---
layout: 2019/default
section: programa
title: esLibre 2019 - Silvia Fernández - Internet y las redes también son nuestras
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(11:00 - 11:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/f_anton_silvia.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Silvia Fernández: "Internet y las redes también son nuestras"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3 style="text-align: center;">Violencias en línea y autodefensa ciberfeminista</h3>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  <a href="https://akelarreciberfeminista.noblogs.org/" target="_blank">Akelarre Ciberfeminsta</a> es una colectiva de investigación y autoformación que analiza las violencias que sufren las mujeres y las identidades de género no normativas en línea
  y desarrolla kits de autodefensa ciberfeminista. En esta charla,
  planteamos una sesión introductoria sobre violencias en línea, con un espacio para la participación en el que identificar, junto a las personas particpantes en la sesión, estrategias de autodefensa ciberfeminista para neutralizar o minimizar
  agresiones machistas en el espacio digital.<br><br>
  Hablaremos también de los principios de la Internet Feminista y su vínculo con las comunidades de software libre. Finalmente, presentaremos nuestro <a href="https://akelarreciberfeminista.noblogs.org/kit-autodefensa-ciberfeminista-uno/"
    target="_blank">Kit de Autodefensa Ciberfeminista, Vol. 1</a> que las personas participantes podrán descargarse,
  reutilizar y compartir puesto que está liberado con una licencia <a href="https://creativecommons.org/licenses/by-sa/3.0/es/" target="_blank">CC BY SA</a>.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://silviafanton.wordpress.com/" target="_blank">Silvia Fernández</a></strong>, comunicadora, ilustradora, artivista. <a href="https://akelarreciberfeminista.noblogs.org/" target="_blank">Akelarre Ciberfeminsta</a>.<br><br>
  <a href="https://twitter.com/silviafanton" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
