---
layout: 2019/default
section: programa
title: esLibre 2019 - Karma Peiró - Vivir en sociedades automatizadas
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(18:00 - 18:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/peiro_karma.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Karma Peiró: "Vivir en sociedades automatizadas" [charla por videoconferencia]</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Recientemente formé parte de un grupo de expertos europeos, coordinado por la ONG Algorith Watch, y hemos redactado el primer informe sobre los algoritmos de toma de decisión automática en Europa. Mi parte fue el capítulo de España: <a
    href="https://www.karmapeiro.com/2019/03/30/quan-les-maquines-decideixen-estan-preparats-els-paisos-de-la-ue/" target="_blank">https://www.karmapeiro.com/2019/03/30/quan-les-maquines-decideixen-estan-preparats-els-paisos-de-la-ue/</a>.<br><br>
  El objetivo de la charla es concienciar y divulgar la parte ética de la tecnología.<br><br>
  <ul>
    <li>Explicación breve (y nada técnica) del tipo de algoritmos que tenemos por todos lados y cómo sus decisiones nos influyen en la vida.</li>
    <li>Todos estos procesos automatizados tienen sesgos. Mencionar unos cuantos ejemplos</li>
    <li>Como ciudadanos es importante conocer las leyes que nos amparan y estar atentos a lo que ya está ocurriendo en otros países.</li>
    <li>Por último, las respuestas de los gobiernos y también las cuestiones éticas que los científicos se están planteando.</li>
  </ul>
  Preguntas del público y reflexiones compartidas.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="karmapeiro.cat" target="_blank">Karma Peiró</a></strong>. Digital/Data Journalism. Following path of technological innovation Algorithms, Accountability Co-director of Specialization Diploma in <a
    href="https://twitter.com/datajournalism1" target="_blank">Data Journalism</a>.<br><br>
  <a href="https://twitter.com/kpeiro" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/karmapeiro/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
